requests
fastapi
uvicorn
python-dotenv
Jinja2
numpy
pydub
networkx
torch
tqdm
regex
llvmlite
numba
sympy
filelock
fsspec
colorama
more-itertools
markupsafe
idna
certifi
charset-normalizer
urllib3
openai-whisper
setuptools
tiktoken
